<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>BoatsQueries</title>

  <link rel="stylesheet" href="">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
    rel="stylesheet">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/js/all.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles.css"> 


</head>

<body>

  <section id="title">

    <!-- Nav Bar -->
    <div class="container-fluid" id="external-container">
      <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href=""> 
            <form class="hidden" action="/" > 
              <input class="query" type="submit" value="Search" class="hidden" /> 
            </form> 
            <img src="../static/img/l.png" alt="logo" class = "logo"> 
            Pirrò 
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#queries">Queriessss</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pricing">Insert</a>
              </li>
              {% if reg == 0 %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('changelogin')  }}">Log In</a>
              </li>
              
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login')  }}">Hi {{ username }}</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <section id="querette">

    
    <div class="container-fluid query" id="external-container">
      <h3 class="cta-h3">Find all the answers you seek about our boats.</h3>
      <h3>Looking For a particular Boat?</h4>
      <h3>Boat Hull Number and Model of a given Boat</h3>
      <form action="\queryboat1" method="POST">

        <input class="query" type="text" name="boat_name" placeholder="Boat Name" />
        <input class="query" type="submit" value="Search" class="btn" />
        
      </form>
      {% if hull or model %}
      <p class="query" id="riposta"> The boat named {{ inp }} has hull number {{ hull }} and model {{ model }} </p>
      {% endif %}
      
      
    </div>
    

  </section>

